<div class="wrapper">
  
  <ta-todo-box></ta-todo-box>
  <ta-todo-circle></ta-todo-circle>
  <ta-todo-box></ta-todo-box>
  <ta-todo-circle></ta-todo-circle>
  <ta-todo-box></ta-todo-box>
  <ta-todo-circle></ta-todo-circle>
  <ta-todo-box></ta-todo-box>
  <ta-todo-circle></ta-todo-circle>
</div>

<div>
    Box Color Name:
    <input type = 'text' [(ngModel)]="mycolorValue" (ngModelChange)="onboxChange()">
    Circle Color Name:
    <input type = 'text' [(ngModel)]="mycolorValue" (ngModelChange)="oncircleChange()">
  </div>
